{
    "name"        : "edvisor api",
    "script"      : "./server/server.js",
    "cwd"         : "{{ edvisor_project_root }}/current",
    "error_file"  : "{{ edvisor_project_root_shared_log }}/edvisor-api-child-err.log",
    "out_file"    : "{{ edvisor_project_root_shared_log }}/edvisor-api-child-out.log",
    "pid_file"    : "{{ edvisor_project_root_shared_log }}/edvisor-api-child.pid",
    "exec_mode"   : "fork_mode",
    "env": {
        "NODE_ENV": "{{ env }}",
        "AWS_ACCESS_KEY_ID": "{{ vault_aws_access_key }}",
        "AWS_SECRET_ACCESS_KEY": "{{ vault_aws_secret_key }}",
        "PM2_GRACEFUL_TIMEOUT": 500,
        "PM2_GRACEFUL_LISTEN_TIMEOUT": 500
    }
}
