{
    "name"        : "edvisor api",
    "script"      : "./server/server.js",
    "cwd"         : "{{ edvisor_project_root }}/current",
    "error_file"  : "{{ edvisor_project_root_shared_log }}/edvisor-api-child-0-err.log",
    "out_file"    : "{{ edvisor_project_root_shared_log }}/edvisor-api-child-0-out.log",
    "pid_file"    : "{{ edvisor_project_root_shared_log }}/edvisor-api-child-0.pid",
    "exec_mode"   : "fork_mode",
    "env": {
        "NODE_ENV": "{{ env }}",
        "PM2_GRACEFUL_TIMEOUT": 500,
        "PM2_GRACEFUL_LISTEN_TIMEOUT": 500,
        "AWESOME_SERVICE_API_TOKEN": "edvisor-service-api-token"
    }
}